/**
 * @package sdi-scarcity
 * @version 0.1
 */
.hidden{
	display: none !important;
}
#sdi-timer{
	padding: 5px;
    margin: 50px 0;
    font-size: 20px;
}
#sdi-timer a{
	text-decoration: none;
    border-bottom: none;
    box-shadow: none;
}
.clearboth{
	clear: both;
}
.sdi-military .headline{
	font-size: 12px;
    text-transform: uppercase;
}
.sdi-military .timer-v{
	float: left;
	width: 50px;
	height: 50px;
}
.sdi-military .sep{
	width: 10px;
}
.sdi-military .time-remaining span.timeval{
	font-size: 30px;
    text-align: center;
    border: 1px solid #000;
    padding: 2px;
}
.sdi-military  .time-remaining small{
	font-size: 12px;
}